
<section class='language-nav'>
<ul>
  <li><a href=''>CSS</a></li>
  <li><a href=''>HTML</a></li>
  <li><a href=''>JavaScript</a></li>
  <li><a href=''>Ruby</a></li>
</ul>

</section>

<img id="logo" src="assets/AA_Times_Logo.png" alt="aA Times">

<section class='masthead'>

<ul class='masthead-links'>
  <li>Tuesday, October 18, 2016</li>
  <li><a href=''><i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper</a></li>
  <li><a href=''><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a></li>
  <li class="not-links" id="sunny"><i class="fa fa-cog" aria-hidden="true"></i>77°F</li>
  <li class="not-links">AAO <strong>+100%</strong></li>
</ul>
</section>
