@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1 {
  font-family: 'Press Start 2P', cusrive;
  text-align: center;
  margin-top: 10%;
}

ul   {
  border-bottom: 8px black solid;
  flex: 1 33%;
  display: flex;
  margin: 5%;
  list-style-type: none;
  padding: 0;
  height: 120px;
  flex-flow: column-reverse;
  align-items: flex-end;
}

ul:hover {
  border-bottom: 8px red solid;
}

figure {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 10%;
}


li {
  border-radius: 25px;
  height: 40px;
  margin: 0 auto;
}

.disk1 {
  background:yellow;
}

.disk2 {
  background: #78cc17;
}

.disk3 {
  background: aqua;
}
